# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
compiled/js/*.js
compiled/css/*.css
compiled/templates/*.html
compiled/node_modules
builds/
cache/
bower_components/
lib/