<!DOCTYPE html>
<html ng-app="VotingApp">
<head>
    <meta charset="utf-8">
    <title>Vote!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link rel="stylesheet" href="../css/app.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../js/vendors.min.js"></script>
    <script src="../js/app.min.js"></script>
</head>
<body layout="column" ng-controller="VotingMainCtrl">
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>
          <span>Vote!</span>
        </h1>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="showSettings($event)">
          <ng-md-icon icon="settings" style="fill: white;" size="36"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div ui-view></div>
  </md-content>
</body>
</html>